[variables]
NIXPACKS_PHP_ROOT_DIR = "/app/public"

[phases.setup]
nixPkgs = ["..."]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader --no-interaction"]

[phases.build]
cmds = [
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache",
    "php artisan icons:cache"
]
